<main>
  <header class="header-container">
    
      <div>
        <app-burger-button class="burger-button"></app-burger-button>
        <a href="http://localhost:4200">
          <img [src]="logoPath" alt="logo" class="logo">
        </a>Volquetes
      </div>
      
      <div>
        <ul class="login-container">
          <li *ngIf="!nombreUsuario"><a (click)="loginAction()">LogIn</a></li>
          <li *ngIf="nombreUsuario"> {{ nombreUsuario }}</li>
          
        </ul>
      </div>
    
  </header>
  
</main>