<div class="tipos-volquete-list-container">
  <h1 class="tipos-volquete-title">Volquetes</h1>

  <div class="tipos-volquete-table-container">
    <table class="tipos-volquete-table">
      <thead>
        <tr>
          <th *ngFor="let column of displayedColumns">
            {{ columnNames[column] }}
          </th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let volquete of volquetes" (click)="onSeleccionarTipo(volquete)">
          <td><span>{{ volquete.id }}</span></td>
          <td><span>{{ volquete.TipoVolquete.descripcion_tipo_volquete }}</span></td>
          <td><span>{{ volquete.marca }}</span></td>
          <td><span>{{ volquete.fecha_fabricacion | date: 'dd/MM/yyyy' }}</span></td>
          <td><span>{{ volquete.fecha_compra | date: 'dd/MM/yyyy' }}</span></td>
          <td>
            <button (click)="startEdit(volquete)">Editar</button>
            <button (click)="delete(volquete)">Eliminar</button>
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="getColspan()" class="add-row-cell">
            <button (click)="onAdd()" class="add-button">
              <span class="add-icon">+</span>
              <span>Agregar</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal para agregar o editar volquete -->
<div *ngIf="isAddingNew || isEditing" class="modal">
  <div class="modal-content">
    <h2>{{ isAddingNew ? 'Agregar Volquete' : 'Editar Volquete' }}</h2>
    <form [formGroup]="volqueteForm" (ngSubmit)="onSubmit()">
      <!-- Marca -->
      <label for="marca">Marca Volquete:</label>
      <input
        id="marca"
        formControlName="marca"
        required
        placeholder="Ej: Hitachi"
      />

      <!-- Fecha Fabricacion -->
      <label for="fecha_fabricacion">Fecha Fabricación:</label>
      <input
        id="fecha_fabricacion"
        formControlName="fecha_fabricacion"
        required
        type="date"
      />

      <!-- Fecha Compra -->
      <label for="fecha_compra">Fecha Compra:</label>
      <input
        id="fecha_compra"
        formControlName="fecha_compra"
        required
        type="date"
      />

      <!-- Tipo Volquete -->
      <label for="tipoVolquete">Tipo de Volquete:</label>
      <select id="tipoVolquete" formControlName="tipoVolquete" required>
        <option value="" disabled selected>Seleccione un Tipo de Volquete</option>
        <option *ngFor="let tipo of tipoVolquetes" [value]="tipo.id">
          {{ tipo.descripcion_tipo_volquete }}
        </option>
      </select>

      <!-- Botones -->
      <button type="submit">{{ isAddingNew ? 'Agregar' : 'Guardar' }}</button>
      <button type="button" (click)="cancelEdit()">Cancelar</button>
    </form>
  </div>
</div>
